@import './constants.less';
.own-film-card{
    .own-poster{
        img{
            width: 100%;
        }
        .own-rating{
            position: absolute;
            i{
                display: block;
                padding: 0.5rem;
            }
        }
    }
    .own-desc{
        padding: 1rem 2rem;
        background-color: white;
        .gold{
            color: @gold;
        }
    }
}